*.csproj
*.sln
.DS_Store
Library/
obj/
Logs/
Temp/
.vs/
.vscode/
Assets/Scripts/launcher/AssetSystem/__del/
ABs/
Assets/launcher_test_asset/
Assets/launcher_test_asset.meta
build android/
Assets/__BuildPipeline/
Assets/__project/
Assets/__project.meta
.idea/
exe/
build-target/
.branch
[Bb]uilds/
.VSCONFIG
Assets/_BolygonNetworkGenerated/
Assets/_TerrainAutoUpgrade/
Assets/_BolygonNetworkGenerated.meta
Assets/_TerrainAutoUpgrade.meta
linux/

[Ee]xports/

OK/
Graphics/
Graphics.meta
Assets/Plugins/Android